/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #EFC94C;
  font-family: 'Open Sans';
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#vis{
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
}

#progressbar{
  position: fixed !important;
  right: 10px;
  bottom: 10px;
  width: 300px;
  height: 300px;

}

.progressbar-text{
    font-size: 128px;
  color: white !important;
}

#logo{
  position: fixed;
  left: 10px;
  bottom: 10px;
}

#score-board{
	position:fixed;
	left:25px;
	bottom:100px;
}
.jumbotron{
    margin-top: 100px;
  width: 700px;
  background: white;
}

.some{
  margin-top: 50px;
}

.tryagain{
  margin: 40px;
}

.tryagianbutton{
  padding: 40px 64px;
  font-size: 32px;

}